[providers]
node = "18"

[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node_modules/.bin/vite preview --host 0.0.0.0 --port ${PORT:-4173}"
